<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Lookup</title>
</head>
<body>
    <form action="/lookup" method="get">

    </form>

    <h2>Results:</h2>
</body>
</html>